<div class="allCon">
	<div class="commonIit"><i class="Hui-iconfont Hui-iconfont-home fontBig"></i> 速帮360运营平台</div>
	<div id="registerCon" class="conA"></div>
	<div id="price" class="conA"></div>
	<div id="taskCount" class="conA"></div>
	<div id="water" class="conA"></div>
	<div id="rates" class="conA"></div>
	<div class="conA">
		<div class="listCon">
			用户总数：{{userCount.number}}<br/>
			日活量：{{dayLive.number}}
			日活比例：{{dayLive2}}<br/>
			用户交易数：{{dealUser.number}}
			用户交易比例：{{dealUser2}}<br/>
			接单时长：{{seizeTime.ave_time}}<br/>
			完成时长：{{doneTime.ave_time}}<br/>
			任务时长：{{taskTime.ave_time}}<br/>
			累计完成率：{{doneTask2}}<br/>
			累计取消率：{{cancelTask2}}<br/>
			累计失效率：{{overdueTask2}}<br/>
			提现金额：{{withdraw.price}}
			提现数量：{{withdraw.number}}<br/>
			男生：{{userGender.male}}<br/>
			绑定支付宝账户：{{aliBinding.ali_binding_count}}<br/>
		</div>
	</div>
</div>
